a:not([href]) {
    cursor: pointer;
}


#playerName {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 20px;
}

.butn {
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.butn-gray {
  cursor: pointer;
  background: #c7c7c7;
  background-image: -webkit-linear-gradient(top, #c7c7c7, #8a8a8a);
  background-image: -moz-linear-gradient(top, #c7c7c7, #8a8a8a);
  background-image: -ms-linear-gradient(top, #c7c7c7, #8a8a8a);
  background-image: -o-linear-gradient(top, #c7c7c7, #8a8a8a);
  background-image: linear-gradient(to bottom, #c7c7c7, #8a8a8a);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn-gray:hover {
  background: #ededed;
  background-image: -webkit-linear-gradient(top, #ededed, #cfcfcf);
  background-image: -moz-linear-gradient(top, #ededed, #cfcfcf);
  background-image: -ms-linear-gradient(top, #ededed, #cfcfcf);
  background-image: -o-linear-gradient(top, #ededed, #cfcfcf);
  background-image: linear-gradient(to bottom, #ededed, #cfcfcf);
  text-decoration: none;
}

.bigbtn {
  font-size: 28px;
}
