* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
html, body {
    background-color: #161616;
    color: white;
    height: 100%;
    font-family: Helvetica, sans-serif;
    margin-top: 0;
}

/* scroll: begin */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
/* scroll: end */

#myCanvas {
    /*border: 1px solid #ee0000;*/
}
.answerright {
    color: lime;
}
.answerwrong {
    color: red;
}

#header {
    width:100%;
    height: 15%;
    background-color: #161616;
    font-size: 28px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #323232;
}

#bestScore {
    font-size: 60%;
}

#leaderBoardSend {
    display: none;
}

#statusTd {
    border-left: 1px solid #323232;
}

#enteredName {
    /*width: 100%;*/
}

#gameDiv{
    width: 100%;
    height: 83%;
    background-color: #161616;
    text-align: center;
}

#footer {
    display: none;
    width:100%;
    height: 100%;
    background-color: #161616;
    color: #999;
    padding: 5px;
}
#menutable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

#menutable #timerTd {
    width: 70%;
}

#menutable #statusTd, #homeTd {
    width: 15%;
}

.timer { font-size: 38px; }
.timer_red{ font-size: 38px; color: red;}
.timer_running { font-size: 38px; }
.timer_stopped { font-size: 38px; }

.btn {
    cursor: pointer;
    text-decoration: underline;
    color: lime;
}

.resp-sharing-button__link, .resp-sharing-button__icon { display: inline-block } 
.resp-sharing-button__link { text-decoration: none; color: #fff; margin: 0.5em }
.resp-sharing-button { border-radius: 5px; transition: 25ms ease-out; padding: 0.5em 0.75em; font-family: Helvetica Neue,Helvetica,Arial,sans-serif }
.resp-sharing-button__icon svg { width: 1em; height: 1em; margin-right: 0.4em; vertical-align: top }
.resp-sharing-button--small svg { margin: 0; vertical-align: middle }
/* Non solid icons get a stroke */
.resp-sharing-button__icon { stroke: #fff; fill: none } 
/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle { fill: #fff; stroke: none }

.resp-sharing-button--twitter { background-color: #55acee } .resp-sharing-button--twitter:hover { background-color: #2795e9 }
.resp-sharing-button--pinterest { background-color: #bd081c }
.resp-sharing-button--pinterest:hover { background-color: #8c0615 }
.resp-sharing-button--facebook { background-color: #3b5998 }
.resp-sharing-button--facebook:hover { background-color: #2d4373 }
.resp-sharing-button--tumblr { background-color: #35465C }
.resp-sharing-button--tumblr:hover { background-color: #222d3c }
.resp-sharing-button--reddit { background-color: #5f99cf }
.resp-sharing-button--reddit:hover { background-color: #3a80c1 }
.resp-sharing-button--google { background-color: #dd4b39 }
.resp-sharing-button--google:hover { background-color: #c23321 }
.resp-sharing-button--linkedin { background-color: #0077b5 }
.resp-sharing-button--linkedin:hover { background-color: #046293 }
.resp-sharing-button--email { background-color: #777 }
.resp-sharing-button--email:hover { background-color: #5e5e5e }
.resp-sharing-button--xing { background-color: #1a7576 }
.resp-sharing-button--xing:hover { background-color: #114c4c }
.resp-sharing-button--whatsapp { background-color: #25D366 }
.resp-sharing-button--whatsapp:hover { background-color: #1da851 }
.resp-sharing-button--hackernews { background-color: #FF6600 }
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 } .resp-sharing-button--vk { background-color: #507299
} .resp-sharing-button--vk:hover { background-color: #43648c
} .resp-sharing-button--facebook { background-color: #3b5998;
  border-color: #3b5998; } .resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active { background-color: #2d4373; border-color: #2d4373; }
.resp-sharing-button--twitter { background-color: #55acee; border-color: #55acee;
} .resp-sharing-button--twitter:hover, .resp-sharing-button--twitter:active {
  background-color: #2795e9; border-color: #2795e9; } 
.resp-sharing-button--google { background-color: #dd4b39; border-color: #dd4b39; }
.resp-sharing-button--google:hover, .resp-sharing-button--google:active { background-color: #c23321;
  border-color: #c23321; } .resp-sharing-button--tumblr {
  background-color: #35465C; border-color: #35465C; } 
.resp-sharing-button--tumblr:hover, .resp-sharing-button--tumblr:active { background-color: #222d3c; border-color: #222d3c;
} .resp-sharing-button--email { background-color: #777777;
  border-color: #777777; } .resp-sharing-button--email:hover,
.resp-sharing-button--email:active { background-color: #5e5e5e; border-color: #5e5e5e; }
.resp-sharing-button--pinterest { background-color: #bd081c; border-color: #bd081c;
} .resp-sharing-button--pinterest:hover, .resp-sharing-button--pinterest:active {
  background-color: #8c0615; border-color: #8c0615; }
