div#header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 15%;
   vertical-align: middle;
   text-align: center;

   background-size: auto 100%;
}

div#header-placeholder {
   width: 100%;
   height: 15%;
}

div#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 10%;
}

div#footer-placeholder {
   width: 100%;
   height: 10%;
}

#header div {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#footer div {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

/* specific and footers */

#ResultCountDiv, #readyTd, #skipGameBtn, #gameTimer, #ResultCountDiv {
    white-space: nowrap;
}

#mainheader {
    font-size: 2em;
}

#mainMenuTable, .tableThreeCols {
    width: 100%;
    height: 100%;
    text-align: center;
}
#timerFooterTable {
}
.tableThreeCols td {
    width: 33%;
}

.homeBtn {
    height: 1.5em;
    float: left;
    cursor: pointer;
}
.exitBtn {
    height: 1.5em;
    float: right;
    cursor: pointer;
}
