div#header {
   background-image: url("../img/wordart-night.png");
}
#mainheader {
    color: #eef;
}

#footer, #mainmenu {
    background-color: #00050c;
    color: #efe;
}

#header {
    color: #efe;
}

html, body {
    color: white;
    background-color: black;
}

table#selectDict tr:hover {
    background-color: #aaaa00;
}

div#pressToStart {
    background-color: #00050c;
    color: #eef;
}

#gameWordDiv {
    background-color: #111;
    color: white;
}

#mainMenuTable tr td:hover {
    background-color: #330;
}

/*
tr.dictTr:nth-child(even) {
    background-color: #222;
}
*/

table.resultList tr:nth-child(even) {
    background-color: #222;
}

#gameDurationMsg {
    color: white;
    background-color: black;
    border: 4px solid yellow;
}

.dictTr {
    border-bottom: 1px solid #aaa;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #000;
  }
  
  to {
    text-shadow: 0 0 20px #811, 0 0 30px #118;
  }
}

.red {
    color: red;
}

#skipBtnWrap {
    border: 1px solid red;
    background-color: #200;
    color: white;
}
#skipBtnWrap:hover {
    background-color: #733;
}

.exampleExplanation {
    color: gray;
    text-decoration: italic;
}

/* hint under the word to "touch this if guessed" */
.hintToTouch {
    color: #555;
}
