a.nav-link {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.modal-full {
    min-width: 100%;
    height: 100%;
    margin: 0;
}
.modal-full > .modal-content {
    height: 100%;
}

table.board {
    border-collapse: collapse;
    table-layout: fixed;
    font-family: "Lucida Console", Monaco, monospace;
}

table.board td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    padding: 0 0.5em 0 0.5em;
    font-size: 1.5em;
}

.bc-empty:hover {
    cursor: pointer;
    background-color: gray;
}

.nameHead {
    background-color: #fefefe;
    border: 1px solid #222;
    border-radius: 2px;
    text-align: center;
}

.playerName {
    font-weight: bold;
}
